/* Fond principal gris très clair */
.main-bg {
    -fx-background-color: #F4F7F6;
}

/* Boutons principaux (Bleu Médical) */
.btn-primary {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}
.btn-primary:hover {
    -fx-background-color: #2980B9;
}

/* Boutons secondaires (Gris) */
.btn-secondary {
    -fx-background-color: #95A5A6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}

/* Bouton Succès / Approbation (Vert) */
.btn-success {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}

/* Bouton Danger / Suppression (Rouge) */
.btn-danger {
    -fx-background-color: #E74C3C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;
}

/* Champs de texte */
.text-field {
    -fx-background-radius: 5px;
    -fx-border-color: #BDC3C7;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}
.text-field:focused {
    -fx-border-color: #3498DB;
}

/* Style du tableau pour faire "Dashboard Moderne" */
.table-view {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-background-radius: 10px;
}
.table-view .column-header {
    -fx-background-color: #2C3E50;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}